certifi==2019.6.16
Click==7.0
Flask==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
olefile==0.46
pandas==0.24.2
Pillow==9.0.0
pycairo==1.18.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
Werkzeug==0.15.4
