{% extends "base.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="container">
			{% if img %}
			<img src="/media/{{ img }}">
			{% endif %}
			
		</div>
	</div>
</div>
<div class="container">
	<div class="container">
<form class="form" action="http://localhost:5000/selected" method="POST">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Organic Compound</label>
  </div>
  <select name="compound" class="custom-select" id="inputGroupSelect01">
  	<option selected>Choose...</option>
  	{% for key in pairs %}
    <option value="{{ pairs[key] }}">{{ key }}</option>
    {% endfor %}
  </select>
</div>
<input type="submit" value="Go">
</form>
	</div>
</div>
{% endblock %}